.bigText {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    margin-top:2vh;
    margin-bottom: 2vh;
    font-size:4vh;
    padding:2vh;
}

.titleText {
    margin-top:4vh;
    margin-bottom: 4vh;
    padding:3vh;
}

.mynav {
    font-size: 3vh;
    margin-right:1vw;
}

.navtitle {
    font-size: 4vh;
    padding-left: 0;
}

.navitem {

}

.btn {
    font-size:5vh;
    margin-left:auto;
    margin-right: auto;
}

.holder {
    text-align: center;
    margin-top:3vh;
}

.inp {
    font-size: 3vh;
    width:30vw;
    height: 80%;
}

.inpBtn {
    font-size: 3vh;
    height: 80%;
    line-height: 80%;
}

.elem {
    height: 7vh;
    vertical-align:middle;
    text-align: center;
}

.opt {
    width: 100vw;
    height: 10vh;
    
}

.text {
    display: inline-block;
    font-size:3vh;
    width: 30vw;
    padding:1vh;
    height:6vh;
}

.smlbtn {
    font-size:3vh;
    margin-left:auto;
    margin-right: auto;
}
